{% extends 'base.html' %}
{% load staticfiles %}
	
{% block css %}
  <style>
  	.Scrollabel{
  		height: 400px;
  		overflow-y: scroll;
  	}
  </style>
{% endblock %}
{% block content %}
    <div class="row">
		<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
			<div class="panel panel-default card-view">
				<div class="panel-heading">
					<div class="pull-left">
						<h6 class="panel-title txt-dark">20 day historical</h6>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-wrapper collapse in">
					<div id="morris_extra_line_chart" class="morris-chart"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
			<div class="panel panel-default card-view">
				<div class="panel-heading">
					<div class="pull-left">
						<h6 class="panel-title txt-dark">Stock Name</h6>
					</div>
					<div class="clearfix"></div>
				</div>
				<div  class="panel-wrapper collapse in">
					<div  class="panel-body" id="notificatonBox">
					{% for stock in stocks %}
						<div class="pull-right">
							<a href="/stock/{{stock.id}}/" class="pull-left inline-block mr-15">
								{{ stock.stock_name }}
							</a>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
  	
  var dataset = {{ rendered|safe }};

  </script>

  <script>/*Morris Init*/
		$(function() {
			"use strict";
			
			if($('#morris_extra_line_chart').length > 0)
				Morris.Line({
		        element: 'morris_extra_line_chart',
		        data: dataset,
		        xkey: 'period',
		        ykeys: ['close'],
		        labels: ['ClosingValue'],
		        pointSize: 2,
		        fillOpacity: 0,
				lineWidth:2,
				pointStrokeColors:['#177ec1'],
				behaveLikeLine: true,
				gridLineColor: '#878787',
				hideHover: 'auto',
				lineColors: ['#177ec1'],
				resize: true,
				gridTextColor:'#878787',
				gridTextFamily:"Roboto"
		        
		    });
			
		});
  </script>
 
{% endblock %}