{% extends 'base.html' %}
{% load staticfiles %}
	
{% block css %}
  <style>
  	.Scrollabel{
  		height: 400px;
  		overflow-y: scroll;
  	}
  </style>
{% endblock %}
{% block content %}
    <div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="panel panel-default card-view">
				<div class="panel-heading">
					<div class="pull-left">
						<h6 class="panel-title txt-dark">line Chart</h6>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-wrapper collapse in">
					<div id="morris_extra_line_chart" class="morris-chart"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="panel panel-default card-view">
				<div class="panel-heading">
					<div class="pull-left">
						<h6 class="panel-title txt-dark">Twitter Feeds</h6>
					</div>
					<div class="pull-right">
						<a href="#" class="pull-left inline-block mr-15">
							<i class="zmdi zmdi-download"></i>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div  class="panel-wrapper collapse in">
					<div  class="panel-body" id="notificatonBox">
						{% for stock in StockName %}
							{% if stock.score == 'zero' %}
								<div class="alert alert-warning alert-dismissable">{{ stock.tweet }}</div>
							{% endif %}
							{% if stock.score == 'pos' %}
								<div class="alert alert-success alert-dismissable">{{ stock.tweet }}</div>
							{% endif %}
							{% if stock.score == 'neg' %}
								<div class="alert alert-danger alert-dismissable">{{ stock.tweet }}</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
  <script>/*Morris Init*/
		$(function() {
			"use strict";
			
			if($('#morris_extra_line_chart').length > 0)
				Morris.Line({
		        element: 'morris_extra_line_chart',
		        data: [{
		            period: '2010',
		            iphone: 50,
		            ipad: 80,
		            itouch: 20
		        }, {
		            period: '2011',
		            iphone: 130,
		            ipad: 100,
		            itouch: 80
		        }, {
		            period: '2012',
		            iphone: 80,
		            ipad: 60,
		            itouch: 70
		        }, {
		            period: '2013',
		            iphone: 70,
		            ipad: 200,
		            itouch: 140
		        }, {
		            period: '2014',
		            iphone: 180,
		            ipad: 150,
		            itouch: 140
		        }, {
		            period: '2015',
		            iphone: 105,
		            ipad: 100,
		            itouch: 80
		        },
		         {
		            period: '2016',
		            iphone: 250,
		            ipad: 150,
		            itouch: 200
		        }],
		        xkey: 'period',
		        ykeys: ['iphone', 'ipad', 'itouch'],
		        labels: ['iPhone', 'iPad', 'iPod Touch'],
		        pointSize: 2,
		        fillOpacity: 0,
				lineWidth:2,
				pointStrokeColors:['#177ec1', '#dc4666', '#e69a2a'],
				behaveLikeLine: true,
				gridLineColor: '#878787',
				hideHover: 'auto',
				lineColors: ['#177ec1', '#dc4666', '#e69a2a'],
				resize: true,
				gridTextColor:'#878787',
				gridTextFamily:"Roboto"
		        
		    });
			
		});
  </script>
  <script type="text/javascript">
	  function GetTweets()
	  {
	  		var StockName = '{{ StockData.stock_name|safe }}';
	  		console.log(StockName);
 			setInterval(function()
 			{
 			 $.ajax({
                 type:"POST",
                 url: '{{ url|safe }}/',
                 data: {
                        'StockName': StockName // from form
                        },
                 success: function(data, status){
					  var feeds = data;
					  var html = '';
					  var color = '';
					  console.log(feeds);
  					  for (var i = 0; i < feeds.length; i++)
					  {
					  	color ='';
					  	if(feeds[i].score == 'pos')
					  	{
					  		color = 'alert-success';
					  	}
					  	else if(feeds[i].score == 'zero')
					  	{
					  		color = 'alert-warning';	
					  	}
					  	else if(feeds[i].score == 'neg')
					  	{
					  		console.log(feeds[i].score);
					  		color = 'alert-danger';
					  	}
			          	html += '<div class="alert '+ color + ' alert-dismissable">' + feeds[i].tweet + '</div>';
					  }
					  $('#notificatonBox').html('');
					  $('#notificatonBox').append(html);
                 }
				});
			}, 50000);
	    }
	  $('#notificatonBox').slimScroll({
		    height: '348px'
		});
	  GetTweets();
  </script>
{% endblock %}